* {
    text-align: center;
    background-color: #29291e;
    color: white;
}

img {
    width: 200px !important;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
}